<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
   	   <typeAlias alias="Address" type="com.md.domain.Address"/>
   	   <typeAlias alias="Board" type="com.md.domain.Board"/>
   </typeAliases>
   <mappers>
   	   <mapper resource="com/md/mapper/AddressMapper1.xml"/>
   	   <mapper resource="com/md/mapper/AddressMapper2.xml"/>
   	   <mapper resource="com/md/mapper/BoardMapper1.xml"/>
   </mappers>

</configuration>
